{
    "openapi": "3.0.1",
    "info": {
      "title": "task scheduler",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "http://taskscheduler.com/v1"
      }
    ],
    "tags": [
      {
        "name": "task scheduler",
        "description": "details about schedules"
      }
    ],
    "paths": {
      "/schedules": {
        "get": {
          "tags": [
            "schedules"
          ],
          "summary": "Returns all schedules present in library",
          "operationId": "getSchedules",
          "responses": {
            "200": {
              "description": "Successful operation",
              "content": {}
            },
            "204": {
              "description": "No content",
              "content": {}
            },
            "500": {
              "description": "Internal server error",
              "content": {}
            }
          }
        },
        "post": {
          "tags": [
            "schedules"
          ],
          "summary": "Add a new schedule to library",
          "operationId": "addSchedule",
          "responses": {
            "201": {
              "description": "Successful operation",
              "content": {}
            },
            "400": {
              "description": "Bad request",
              "content": {}
            }
          }
        }
      },
      "/schedules/run": {
        "post": {
          "tags": [
            "schedules"
          ],
          "summary": "Runs all schedules present in library",
          "operationId": "runSchedules",
          "responses": {
            "201": {
              "description": "Successful operation",
              "content": {}
            },
            "500": {
              "description": "Internal server error",
              "content": {}
            }
          }
        }
      }
    },
    "components": {}
  }